@charset "UTF-8";
/*################Components configurations################*/

/*Apply to all labels*/
label {
	padding: 10px;
}

/*Apply to all table heads*/
th, td {
	text-align: center !important;
}

.ui-tag{
	font-size: 1.4rem !important;	
	width: 40vw;
	min-width: 300px;
	min-height: 40px;
}

/*Apply to all combobox*/
.ui-selectonemenu {
	width: 205px !important;
}

/*Apply to all buttons*/
.ui-button {
	padding-right: 0.8rem !important;
}

/*Apply to panel content*/
.ui-panel-content {
	height: 650px;
}

/* ################Main page content configurations################*/
.header {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	height: 80px;
	max-height: 90px;
}

.body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	display: flex;
	height: 85vh;
}

/* ################General panel configurations################ */
.panel {
	width: 70vw;
	min-width: 380px;
}

.panel .panel-body {
	display: flex;
	flex-direction: row;
}

.panel-body .panel-label-column {
	display: flex;
	height: 18vh;
	flex-direction: column;
	width: 12%;
	text-align: right;
	justify-content: space-between;
}

.panel-body .panel-input-column {
	display: flex;
	flex-direction: column;
	height: 18vh;
	width: 80%;
	justify-content: space-between;
}

.panel-input-column #input-number-filter {
	width: 25%;
	height: 41px;
}

.panel-input-column #input-title-filter {
	height: 41px;
}

.panel-input-column .panel-input-column-row {
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: space-between;
}

/*################Table configuration################*/
.table {
	margin-top: 80px;
}

.table .th-number, .th-title {
	width: 150px;
}

.create-task-btn {
	float: right;
	margin-top: 200px !important;
}